SECRET_KEY = 'ansecuritykeystring'

POSTGREDB_SETTINGS = {
    'ENGINE': 'django.db.backends.postgresql_psycopg2',
    'NAME': 'cindy',
    'USER': 'cindy',
    'PASSWORD': 'cindy',
    'HOST': 'localhost',
    'POST': '',
}

HOSTS = [
    'cindythink.com',
    '139.59.247.106',
]
