{% load i18n static %}
<!doctype html>
<html>
  <head>
    <!-- The first thing in any HTML file should be the charset -->
    <meta charset="utf-8">
    <!-- Make the page mobile compatible -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ウミガメのスープ,ウミガメ,スープ,水平思考,推理ゲーム" />
    <!-- Allow installing the app to the homescreen -->
    <meta name="mobile-web-app-capable" content="yes">
    <title>{% trans 'Cindy -- the best place for lateral thinking' %}</title>
    <meta name="description" content="{% trans 'Play situation puzzles realtime!' %}" data-react-helmet="true">
    {% get_current_language as LANGUAGE_CODE %}
    <script type="text/javascript">
        window.django = {
          {% if request.user.is_authenticated %}
          user_id: {{ request.user.id }},
          user_nickname: "{{ request.user.nickname }}",
          {% endif %}
          LANGUAGE_CODE: "{{ LANGUAGE_CODE }}",
        };
    </script>

    <!-- iOS home screen icons -->
    <meta name="apple-mobile-web-app-title" content="Cindy">
    <link rel="apple-touch-icon" sizes="120x120" href="/icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon-180x180.png">

    <link rel="icon" href="/favicon.ico" />

    {% block extraHead %}
    {% endblock extraHead %}
  </head>
  <body>
    <!-- Display a message if JS has been disabled on the browser. -->
    <noscript>If you're seeing this message, that means <strong>JavaScript has been disabled on your browser</strong>, please <strong>enable JS</strong> to make this app work.</noscript>

    <!-- The app hooks into this div -->
    <div id="app"></div>

    <!-- A lot of magic happens in this file. HtmlWebpackPlugin automatically includes all assets (e.g. bundle.js, main.css) with the correct HTML tags, which is why they are missing in this HTML file. Don't add any assets here! (Check out webpackconfig.js if you want to know more) -->
    {% block bundle %}
    {% endblock bundle %}
  </body>
</html>
